html{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head{
  height: 50px;
  background-color: rgb(66,69,73);
}
#webTitle{
  color: rgb(255, 255, 255);
  padding: 5px;
  font-style: normal;
}
body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.tnodes{
   width: 800px;
   height: 50px;
   border: 1px;
   border-style:solid;
   border-color: rgb(168, 168, 168);
   margin: 20;
}
.liIt{
  width: 200px;
  height: 50px;
  float:left;
  background-color: rgb(241, 241, 241);
}
.liIt:hover{
  background-color: white;
}
input{
  width: 200px;
  height: 32px;
  background-color:rgba(255, 255, 255, 0);
  border:0px;
}

label{
  font-size: 12px;
  color: gray;
}

#searchButton{
  width: 100px;
  height: 50px;
  font-size: 18px;
  background-color: rgb(0, 132, 255);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 20;
}
#searchButton:hover{
  background-color: rgb(89, 175, 255);
}

#specsoutPutField{
position: absolute;
resize: none;
height: 50;
width:400;
margin: 20;
}

.outin{
  height: 400;
  width: 400;
  border: 0.5px;
  border-style: solid;
  border-color: rgb(168, 168, 168);
  overflow: auto;
  float: left;
}

.pathbutton{
  height:50;
  width:384;
  border-color: rgb(168, 168, 168);
  background-color: 241, 241, 241;
}

.pathbutton:hover{
  background-color: rgb(255, 255, 255);
}

#pathinfo{
  resize: none;
  border: none;
}
#searchSpecsfiels{
  margin: auto;
}